* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.carousel-indicators-numbers {
		position: absolute;
		top: 0;
		left: 50;
		right: 50;

}

body {
	background: url(assets/images/bg.jpeg);
}

ol {
	width: 20%;
	list-style-type: none;
	display: block;
	margin: 0 auto;
	font-size: 10px;
}

li {

     /* width:30px !important;
      height:30px !important; */
/*      border: none;
      color: #fff;
      border-radius:100% !important;
      background-color: #999;*/
      transition: all 0.25s ease;
      display: inline-block;
      
    }

li.active, li:hover {
   /*     width: 30px  ;
        height: 30px ;*/
        background-color: #337ab7;        
      }

.container {
	border: 2px solid black;
	min-height: 95vh;
}

footer {
	height: 50px;
}


/*social links*/

i {
	color: black;
	position: relative;
	left: 695px;
	
}

.fb:hover{
	background-color: blue;
}

.ig:hover {
	background-color: violet;
}

.tw:hover {
	background-color: lightblue;
}

.yt:hover {
	background-color: red;
}

.fb {
	position: absolute;
/*	top: 90%;*/
	left: 25%;
}

.ig {
	position: absolute;
	/*top: 90%;*/
	left: 40%;
}

.tw {
	position: absolute;
	/*top: 90%;*/
	left: 55%;
}

.yt {
	position: absolute;
	/*top: 90%;*/
	left: 70%;
}
/*-----> end social links*/

#pic1 {
	height: 80vh;
}

#pic2 {
	height: 80vh;
}













































/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

	.top-navs {
		font-size: 4em;
	}

 }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }