* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.carousel-indicators-numbers {
		position: absolute;
		top: 0;
		left: 50;
		right: 50;

}

body {
	/*background: url(../images/bg3.jpeg);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;*/
	background-color: 	#f5f6f7;
}

ol {
	width: 30%;
	list-style-type: none;
	display: block;
	text-align: right;
	font-size: 10px;
}

li {

     /* width:30px !important;
      height:30px !important; */
/*      border: none;
      color: #fff;
      border-radius:100% !important;
      background-color: #999;*/
      transition: all 0.25s ease;
      display: inline-block;
      
    }

li.active, li:hover {
   /*     width: 30px  ;
        height: 30px ;*/
        background-color: black; 
        color: white;       
      }

.container {
	border: 10px groove #49311c;

	min-height: 80vh;
	margin-top: 1em;
}

#home {
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

#about {
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

#contact {
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

footer {
	height: 50px;
}


/*social links*/

i {
	color: black;
	position: relative;
	left: 695px;
	
}

.fb:hover{
	background-color: blue;
}

.ig:hover {
	background-color: violet;
}

.tw:hover {
	background-color: lightblue;
}

.yt:hover {
	background-color: red;
}

.gm:hover {
	background-color: indianred;
}


.fb {
	position: absolute;
/*	top: 90%;*/
	left: 25%;
}

.ig {
	position: absolute;
	/*top: 90%;*/
	left: 37%;
}

.tw {
	position: absolute;
	/*top: 90%;*/
	left: 49%;
}

.yt {
	position: absolute;
	/*top: 90%;*/
	left: 60%;
}

.gm {
	position: absolute;
	/*top: 90%;*/
	left: 70%;
}
/*-----> end social links*/

#pic1 {
	height: 80vh;
}

#pic2 {
	height: 80vh;
}

div.a {
	text-align: right;
}

.tabs {
	text-align: center;
}





























/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

	ol {
		width: 100%;
	}


 }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

	ol {
		width: 100%;
	}
 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	

 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 



 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }